@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', 'Sans-serif';
}

body {
  background: #0058ff;
  color: #4d5465;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 415px;
  border-radius: 3px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wrapper .tab_wrap {
  padding: 20px;
}

.wrapper .tab_wrap ul {
display: flex;
background: #f4fafe;
border-radius: 3px;
}

.wrapper .tab_wrap ul li {
  width: 125px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.wrapper .tab_wrap ul li:hover,
.wrapper .tab_wrap ul li.active {
  background: #e4edf5;
}

.wrapper .tab_wrap {
  padding: 20px;
}

.inbox {
  height: 630px;
}

.inbox li .all {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e4edf5;
}

.inbox li:last-child .all {
  border-bottom: 0;
}

.inbox li .all:hover {
  background: #e4edf5;
}

.inbox li .all img {
  width: 50px;
  height: 50px;
}

.inbox li .all .li_right {
  display: flex;
}

.inbox .li_right .message {
  margin: 0px 20px;
}

.inbox .li_right .message .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.inbox .li_right .message .sub_title {
 font-size: 12px;
 line-height: 18px;
}

.inbox .all .time {
  color: #ccc;
  font-size: 12px;
  text-align: center;
}

.inbox .all .status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0058ff;
  font-size: 10px;
  color: #fff;
  margin-top: 15px;
}



